# [Hanukkah of Data](https://hanukkah.bluebird.sh/5784)

0. 5777
1. 826-636-2286
2. 332-274-4185
3.

In [1]:
import pandas as pd

# Solve 1

In [4]:
def solve_01(df_):
    df = df_.copy()
    df["last_name"] = df["name"].apply(lambda x: x.split()[1])
    mask = df["last_name"].apply(len) == df["phone"].apply(
        lambda x: len(x.replace("-", ""))
    )

    m = ["abc", "def", "ghi", "jkl", "mno", "pqrs", "tuv", "wxyz"]
    for name, phones in (
        df.loc[mask]
        .groupby("last_name")["phone"]
        .agg(lambda xs: sorted(set(xs)))
        .to_dict()
        .items()
    ):
        name = name.lower()
        for p in phones:
            ok = True
            for i, j in zip(name, map(int, p.replace("-", ""))):
                if j == 1 or i not in m[j - 2]:
                    ok = False
                    break
            if not ok:
                continue
            else:
                return name, p

In [5]:
df = pd.read_csv("./data/noahs-customers.csv")
solve_01(df)

('tannenbaum', '826-636-2286')

# Solve 2

```sql
select
  a.*,
  b.*,
  c.*
from
  customers as a
  join orders as b on a.customerid = b.customerid
  join orders_items as c on b.orderid = c.orderid
where
  1 = 1
  and a.name glob "J* P*"
  and b.shipped like "2017%"
  and (
    c.sku = "DLI8820" -- coffee
    or c.sku = "BKY5717" -- bagel
    or c.sku = "BKY1573" -- bagel
  )
```

# Solve 3