# [Hanukkah of Data](https://hanukkah.bluebird.sh/5784)

0. 5777
1. 826-636-2286
2. ...

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./noahs-customers.csv')

In [3]:
df.groupby('name')['phone'].agg(list)

name
Aaron Anderson     [716-578-5297]
Aaron Baldwin      [516-265-1912]
Aaron Bray         [680-892-6493]
Aaron Bullock      [716-891-3300]
Aaron Clarke       [516-422-3161]
                        ...
Zachary Walsh      [516-460-9740]
Zachary Wright     [631-833-8752]
Zoe Aguilar        [914-516-4084]
Zoe April Price    [838-952-8128]
Zoe Bowers         [858-994-4430]
Name: phone, Length: 7795, dtype: object

In [13]:
def solve_01(df_):
    df = df_.copy()
    df['last_name'] = df['name'].apply(lambda x: x.split()[1])
    mask = df['last_name'].apply(len) == df['phone'].apply(lambda x: len(x.replace('-', '')))

    m = ["abc", "def", "ghi", "jkl", "mno", "pqrs", "tuv", "wxyz"]
    for name, phones in df.loc[mask].groupby('last_name')['phone'].agg(lambda xs: sorted(set(xs))).to_dict().items():
        name = name.lower()
        for p in phones:
            ok = True
            for i, j in zip(name, map(int, p.replace('-', ''))):
                if j == 1 or i not in m[j - 2]:
                    ok = False
                    break
            if not ok:
                continue
            else:
                return name, p

In [14]:
solve_01(df)

('tannenbaum', '826-636-2286')